api.noebs.sd, dsa.adonese.sd {
    @identity path /generate_api_key /consumer/register /consumer/register_with_card /consumer/login /consumer/refresh /consumer/otp/* /consumer/auth/* /consumer/user /consumer/user/lang /consumer/user/device /consumer/change_password /consumer/check_user /consumer/kyc
    handle @identity {
        reverse_proxy identity-auth:8080
    }

    handle /psp/webhooks* {
        reverse_proxy psp-webhook:8080
    }

    handle /dashboard* {
        reverse_proxy admin-reporting:8080
    }

    handle /ws {
        reverse_proxy notification-chat:8080
    }

    handle /consumer/notifications* {
        reverse_proxy notification-chat:8080
    }

    handle /consumer/submit_contacts* {
        reverse_proxy notification-chat:8080
    }

    handle {
        reverse_proxy api-gateway:8080
    }

    encode gzip zstd

    header {
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy strict-origin-when-cross-origin
    }

    log {
        output stdout
        format json
    }
}
