package dashboard

import (
	"fmt"
	"strconv"

	"github.com/bradfitz/iter"
)

templ dashboardLayout(title string, brand string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta property="og:title" content="SolusPay Secure Payments">
			<meta property="og:description" content="Solus offers the state of the art technologies in payments and financial industry with our long and verstile expertise in this field, we believe that we can transfer your business and help it grows.">
			<meta property="og:url" content="https://beta.soluspay.net/dashboard/hearout">
			<meta property="og:site_name" content="SolusPay">
			<meta property="og:type" content="article">
			<title>{ title }</title>
			<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
			<link rel="stylesheet" href="/dashboard/assets/style.css">
		</head>
		<body>
			<nav class="navbar navbar-dark fixed-top bg-dark">
				<div class="container">
					<a class="navbar-brand" href="">{ brand }</a>
					<ul class="navbar-nav mr-auto"></ul>
				</div>
			</nav>
			{ children... }
		</body>
	</html>
}

templ DashboardIndexPage() {
	@dashboardLayout("Solus | Secure Payments", "Solus") {
		<main role="main">
		</main>
	}
}

templ MerchantPage(data MerchantView) {
	@dashboardLayout("Solus | Secure Payments", "Solus") {
		<main role="main">
			<div class="container">
				<div class="row">
					<div class="col">
						<table class="table table-striped table-sm">
							<thead class="thead-dark">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Date Time</th>
									<th scope="col">Amount</th>
									<th scope="col">Reference Number</th>
									<th scope="col">Approval Code</th>
									<th scope="col">Terminal ID</th>
									<th scope="col">Response Code</th>
									<th scope="col">Service</th>
								</tr>
							</thead>
							for i, tran := range data.Transactions {
								<tr>
									<th scope="row">{ i }</th>
									<td>{ TimeFormatter(tran.CreatedAt) }</td>
									<td>{ tran.TranAmount }</td>
									<td>{ tran.ReferenceNumber }</td>
									<td>{ tran.ApprovalCode }</td>
									<td>{ tran.TerminalID }</td>
									<td>{ tran.ResponseCode }</td>
									<td>{ tran.EBSServiceName }</td>
								</tr>
							}
						</table>
					</div>
				</div>

				<p class="lead">Issues for this merchant</p>
				<div class="row">
					for _, issue := range data.Issues {
						<p>{ fmt.Sprintf("%v", issue) }</p>
					}
				</div>
			</div>
		</main>
	}
}

templ DashboardTablePage(data DashboardTableView) {
	@dashboardLayout("Dashboard", "Tuti Middleware") {
		<main role="main">
			<div class="container">
				<div class="row">
					<div class="col">
						<form action="">
							<label>
								<input type="text" placeholder="Search.." name="tid">
							</label>
							<button type="submit" class="btn btn-outline-primary btn-sm">Submit</button>
						</form>
					</div>
					<div class="col">
						<a type="submit" class="btn btn-primary btn-sm" role="button" href="./stream">Download all data</a>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<ul class="list-group list-group-horizontal-sm">
							<li class="list-group-item d-flex justify-content-between align-items-center">
								All transactions so far
								<span class="badge badge-primary badge-pill">{ data.Stats.NumberTransactions }</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Successful Transactions
								<span class="badge badge-primary badge-pill">{ data.Stats.SuccessfulTransactions }</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Failed Transactions
								<span class="badge badge-primary badge-pill">{ data.Stats.FailedTransactions }</span>
							</li>
							<li class="list-group-item d-flex justify-content-between align-items-center">
								Total Amount
								<span class="badge badge-primary badge-pill">{ data.Amounts.Amount }</span>
							</li>
						</ul>
					</div>
				</div>

				<div class="row">
					<div class="col">
						<table class="table table-striped table-sm">
							<thead class="thead-dark">
								<tr>
									<th scope="col">ID</th>
									<th scope="col">Date Time</th>
									<th scope="col">Amount</th>
									<th scope="col">Reference Number</th>
									<th scope="col">Approval Code</th>
									<th scope="col">Terminal ID</th>
									<th scope="col">Response Code</th>
									<th scope="col">Service</th>
								</tr>
							</thead>
							for _, tran := range data.Transactions {
								<tr>
									<th scope="row">{ tran.ID }</th>
									<td>{ TimeFormatter(tran.CreatedAt) }</td>
									<td>{ tran.TranAmount }</td>
									<td>{ tran.ReferenceNumber }</td>
									<td>{ tran.ApprovalCode }</td>
									<td>{ tran.TerminalID }</td>
									<td>{ tran.ResponseCode }</td>
									<td>{ tran.EBSServiceName }</td>
								</tr>
							}
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-sm">
						<ul class="pagination pagination-sm">
							for i := range iter.N(data.PageCount) {
								<li class="page-item"><a class="page-link" href={"?page=" + strconv.Itoa(i)}>{ i }</a></li>
							}
						</ul>
					</div>
					<div class="col-sm">
						<ul class="pagination pagination-sm" id="custom-pagination">
						</ul>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col">
						<p class="lead">Top Transactions This Month</p>
						<table class="table table-sm table-hover">
							<thead class="thead-light">
								<tr>
									<th scope="col">Terminal ID</th>
									<th scope="col">Monthly Amount</th>
								</tr>
							</thead>
							for i, stat := range data.MerchantStats {
								if i == 0 {
									<tr class="table-primary">
										<th scope="row">{ stat.TerminalID }</th>
										<td>{ stat.Amount }</td>
									</tr>
								} else {
									<tr>
										<th scope="row">{ stat.TerminalID }</th>
										<td>{ stat.Amount }</td>
									</tr>
								}
							}
						</table>
					</div>
					<div class="col">
						<p class="lead">Terminals With LEAST # Transactions This Month</p>
						<table class="table table-sm table-hover">
							<thead class="thead-light">
								<tr>
									<th scope="col">Terminal ID</th>
									<th scope="col">Number of Transactions</th>
								</tr>
							</thead>
							for i, stat := range data.LeastMerchants {
								if i == 0 {
									<tr class="table-danger">
										<th scope="row">{ stat.TerminalID }</th>
										<td>{ stat.Amount }</td>
									</tr>
								} else {
									<tr>
										<th scope="row">{ stat.TerminalID }</th>
										<td>{ stat.Amount }</td>
									</tr>
								}
							}
						</table>
					</div>
				</div>

				<hr>

				<div class="row">
					<div class="col">
						<p class="lead">Transaction Fees Per Terminal</p>
						<table class="table table-sm table-hover">
							<thead class="thead-light">
								<tr>
									<th scope="col">Terminal ID</th>
									<th scope="col">Transaction Fees Amount</th>
								</tr>
							</thead>
							for i, stat := range data.TerminalFees {
								if i == 0 {
									<tr class="table-primary">
										<th scope="row">{ stat.TerminalID }</th>
										<td>{ stat.Amount }</td>
									</tr>
								} else {
									<tr>
										<th scope="row">{ stat.TerminalID }</th>
										<td>{ stat.Amount }</td>
									</tr>
								}
							}
						</table>
					</div>
					<div class="col">
						<p class="lead">The sum of transaction fees is: { data.SumFees }</p>
					</div>
				</div>
			</div>
		</main>

		<script>
			var currentPage = 1;
			function paginate(index, items) {
				for (i = index; i <= items; i++) {
					document.getElementById("custom-pagination").innerHTML += `<li class="page-item"><a class="page-link" href="?page=$i">$i</a></li>`
				}
			}

			function updateId(id) {
				currentPage = id;
			}

			paginate(currentPage, { data.PageCount });
		</script>
	}
}

templ QRStatusPage(data QRStatusView) {
	@dashboardLayout("Dashboard", "2T Merchant") {
		<main role="main">
			<div class="container">
				<div class="row">
					<div class="col">
						<table class="table table-striped table-sm">
							<thead class="thead-dark">
								<tr>
									<th scope="col">Merchant ID</th>
									<th scope="col">Date Time</th>
									<th scope="col">Amount</th>
									<th scope="col">Status</th>
									<th scope="col">Transaction ID</th>
								</tr>
							</thead>
							for _, tran := range data.Transactions {
								<tr>
									<td>{ tran.MerchantID }</td>
									<td>{ tran.TranDateTime }</td>
									<td>{ tran.TranAmount }</td>
									<td>{ tran.ResponseMessage }</td>
									<td>{ tran.TransactionID }</td>
								</tr>
							}
						</table>
					</div>
				</div>

				<div class="row">
					<div class="col-sm">
						<ul class="pagination pagination-sm">
							for i := range iter.N(data.PageCount) {
								<li class="page-item"><a class="page-link" href={"?page=" + strconv.Itoa(i)}>{ i }</a></li>
							}
						</ul>
					</div>
					<div class="col-sm">
					</div>
				</div>
				<hr>
			</div>
		</main>
	}
}

templ SearchPage() {
	@dashboardLayout("Dashboard", "Solus") {
		<main role="main">
		</main>
	}
}
