{{define "head" }}
    <head>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta property='og:title' content='SolusPay Secure Payments'>
        <meta property='og:description' content='Solus offers the state of the art technologies in payments and financial industry
 with our long and verstile expertise in this field, we believe that we can transfer your business and help it grows.'>
        <meta property='og:url' content='https://beta.soluspay.net/dashboard/hearout'>
        <meta property='og:site_name' content='SolusPay'>
        <meta property='og:type' content='article'>
        <title>Solus | Secure Payments</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link rel="stylesheet" href="/dashboard/assets/style.css">
    </head>
{{end}}

{{define "navbar"}}
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="">Solus</a>
            <ul class="navbar-nav mr-auto"></ul>
        </div>
    </nav>
{{end}}