{{define "head" }}
    <head>
        <title>Dashboard</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <link rel="stylesheet" href="/assets/style.css">
    </head>
{{end}}

{{define "navbar"}}
    <nav class="navbar navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="">Solus Middleware</a>
            <ul class="navbar-nav mr-auto"></ul>
        </div>
    </nav>
{{end}}