<!DOCTYPE html>
<html lang="en">
{{block "head" .}}
{{end}}

{{block "navbar" .}}

{{end}}
<body>

<main role="main">
    <div class="container">
        {{if .showform }}
            <form method="post">

                <label for="vote">What do you want the MOST on a payment application?</label>
                    <textarea class="form-control" name="vote" id="vote"
                              placeholder="Say something exciting! Get BIG!" required></textarea>
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp"
                           placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {{else}}
            <p>We have listened to your voice! ThanQ!</p>
        {{end}}
    </div>
</main>


</body>
</html>