openapi: 3.1.2
info:
  title: Noebs Wallet API
  version: 26.05.27
  description: Frontend wallet routes and public wallet workflow endpoints.
servers:
  - url: https://api.noebs.sd
security:
  - bearerAuth: []
tags:
  - name: Wallets
  - name: PSP Methods
  - name: Wallet Workflows
  - name: Funding Sources
  - name: Withdrawal Destinations
  - name: Wallet Security
paths:
  /wallet/wallets:
    post:
      tags: [Wallets]
      operationId: createWallet
      summary: Create or return the authenticated user's wallet
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletRequest'
      responses:
        '200':
          description: Wallet found or created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWallet'
        default:
          $ref: '#/components/responses/AppError'
  /wallet/wallets/{wallet_id}:
    get:
      tags: [Wallets]
      operationId: getUserWallet
      summary: Get an authenticated user's wallet by id
      parameters:
        - $ref: '#/components/parameters/WalletID'
        - $ref: '#/components/parameters/TenantIDQuery'
      responses:
        '200':
          description: Wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserWallet'
        default:
          $ref: '#/components/responses/AppError'
  /wallet/wallets/{wallet_id}/transactions:
    get:
      tags: [Wallets]
      operationId: listWalletTransactions
      summary: List ledger entries for an authenticated user's wallet
      parameters:
        - $ref: '#/components/parameters/WalletID'
        - $ref: '#/components/parameters/TenantIDQuery'
        - name: entry_type
          in: query
          schema:
            type: string
            enum: [debit, credit]
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Wallet transaction history.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletTransactionList'
        default:
          $ref: '#/components/responses/AppError'
  /wallet/methods:
    get:
      tags: [PSP Methods]
      operationId: listWalletPaymentMethods
      summary: List available PSP methods for deposits or withdrawals
      parameters:
        - name: direction
          in: query
          required: true
          schema:
            type: string
            enum: [deposit, withdrawal, inbound, outbound, payout]
        - name: currency
          in: query
          schema:
            type: string
        - name: region
          in: query
          schema:
            type: string
        - name: amount
          in: query
          schema:
            type: integer
            format: int64
            minimum: 0
        - $ref: '#/components/parameters/TenantIDQuery'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Available PSP methods.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WalletPaymentMethodList'
        default:
          $ref: '#/components/responses/AppError'
  /wallet:
    post:
      tags: [Wallet Workflows]
      operationId: ensureWalletPublic
      summary: Ensure a wallet via grpc-gateway
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EnsureWalletRequest'
      responses:
        '200':
          description: Wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayWallet'
        default:
          $ref: '#/components/responses/RpcStatus'
  /wallet/{wallet_id}:
    get:
      tags: [Wallet Workflows]
      operationId: getWalletPublic
      summary: Get a wallet via grpc-gateway
      parameters:
        - $ref: '#/components/parameters/WalletID'
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wallet.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GatewayWallet'
        default:
          $ref: '#/components/responses/RpcStatus'
  /wallet/deposits:
    post:
      tags: [Wallet Workflows]
      operationId: requestDeposit
      summary: Start a wallet deposit workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DepositRequest'
      responses:
        '200':
          description: Temporal workflow run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        default:
          $ref: '#/components/responses/RpcStatus'
  /wallet/withdrawals:
    post:
      tags: [Wallet Workflows]
      operationId: requestWithdrawal
      summary: Start a wallet withdrawal workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WithdrawalRequest'
      responses:
        '200':
          description: Temporal workflow run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        default:
          $ref: '#/components/responses/RpcStatus'
  /wallet/p2p:
    post:
      tags: [Wallet Workflows]
      operationId: requestP2PTransfer
      summary: Start a wallet-to-wallet transfer workflow
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/P2PTransferRequest'
      responses:
        '200':
          description: Temporal workflow run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WorkflowRun'
        default:
          $ref: '#/components/responses/RpcStatus'
  /wallet/{wallet_id}/funding_sources:
    get:
      tags: [Funding Sources]
      operationId: listFundingSources
      parameters:
        - $ref: '#/components/parameters/WalletID'
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Funding sources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingSourceList'
        default:
          $ref: '#/components/responses/RpcStatus'
  /wallet/{wallet_id}/destinations:
    get:
      tags: [Withdrawal Destinations]
      operationId: listWithdrawalDestinations
      parameters:
        - $ref: '#/components/parameters/WalletID'
        - name: tenantId
          in: query
          required: true
          schema:
            type: string
        - name: activeOnly
          in: query
          schema:
            type: boolean
      responses:
        '200':
          description: Withdrawal destinations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalDestinationList'
        default:
          $ref: '#/components/responses/RpcStatus'
    post:
      tags: [Withdrawal Destinations]
      operationId: createWithdrawalDestination
      parameters:
        - $ref: '#/components/parameters/WalletID'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWithdrawalDestinationRequest'
      responses:
        '200':
          description: Withdrawal destination.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WithdrawalDestination'
        default:
          $ref: '#/components/responses/RpcStatus'
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  parameters:
    WalletID:
      name: wallet_id
      in: path
      required: true
      schema:
        type: string
        format: uuid
    TenantIDQuery:
      name: tenant_id
      in: query
      schema:
        type: string
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        default: 100
        minimum: 1
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        default: 0
        minimum: 0
  responses:
    AppError:
      description: Application error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/AppError'
    RpcStatus:
      description: grpc-gateway error.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/RpcStatus'
  schemas:
    AppError:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        fields:
          type: object
          additionalProperties: true
    RpcStatus:
      type: object
      properties:
        code:
          type: integer
        message:
          type: string
        details:
          type: array
          items: {}
    CreateWalletRequest:
      type: object
      properties:
        tenant_id:
          type: string
        user_id:
          type: integer
          format: int64
        currency:
          type: string
    UserWallet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        tenant_id:
          type: string
        owner_type:
          type: string
        owner_id:
          type: string
        user_id:
          type: integer
          format: int64
        currency:
          type: string
        balance:
          type: integer
          format: int64
        available_balance:
          type: integer
          format: int64
        status:
          type: string
        kyc_tier:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
    GatewayWallet:
      type: object
      properties:
        id:
          type: string
        tenantId:
          type: string
        ownerType:
          type: string
        ownerId:
          type: string
        currency:
          type: string
        balance:
          type: string
          format: int64
        availableBalance:
          type: string
          format: int64
        status:
          type: string
        kycTier:
          type: string
    EnsureWalletRequest:
      type: object
      required: [tenantId, userId]
      properties:
        tenantId:
          type: string
        userId:
          type: string
          format: int64
        currency:
          type: string
    WalletPaymentMethodList:
      type: object
      properties:
        methods:
          type: array
          items:
            $ref: '#/components/schemas/WalletPaymentMethod'
    WalletPaymentMethod:
      type: object
      properties:
        provider_code:
          type: string
        provider_name:
          type: string
        display_name:
          type: string
        method_type:
          type: string
        direction:
          type: string
        currencies:
          type: array
          items:
            type: string
        regions:
          type: array
          items:
            type: string
        min_amount:
          type: integer
          format: int64
        max_amount:
          type: integer
          format: int64
        input_schema:
          type: object
          additionalProperties: true
        presentation:
          type: object
          additionalProperties: true
        supports_deposit:
          type: boolean
        supports_withdrawal:
          type: boolean
    WalletTransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/WalletTransaction'
    WalletTransaction:
      type: object
      properties:
        id:
          type: integer
          format: int64
        tenant_id:
          type: string
        transaction_id:
          type: integer
          format: int64
        wallet_id:
          type: string
          format: uuid
        entry_type:
          type: string
          enum: [debit, credit]
        amount:
          type: integer
          format: int64
        currency:
          type: string
        balance_after:
          type: integer
          format: int64
        wallet_sequence:
          type: integer
          format: int64
        status:
          type: string
        reference_type:
          type: string
        reference_id:
          type: string
        description:
          type: string
        metadata:
          type: object
          additionalProperties: true
        created_at:
          type: string
          format: date-time
    WorkflowRun:
      type: object
      properties:
        workflowId:
          type: string
        runId:
          type: string
    DepositRequest:
      type: object
      description: Frontend deposit start request. Provider transaction ids are captured later from PSP callbacks or status responses.
      required: [tenantId, clientReference, providerCode, walletId, ownerType, ownerId, amount, currency]
      properties:
        tenantId:
          type: string
        clientReference:
          type: string
        providerCode:
          type: string
        walletId:
          type: string
        ownerType:
          type: string
        ownerId:
          type: string
        amount:
          type: string
          format: int64
        currency:
          type: string
        feeAmount:
          type: string
          format: int64
        netAmount:
          type: string
          format: int64
        idempotencyKey:
          type: string
        metadata:
          type: object
          additionalProperties: true
        region:
          type: string
    WithdrawalRequest:
      type: object
      required: [tenantId, clientReference, providerCode, walletId, amount, currency, ownerType, ownerId]
      properties:
        tenantId:
          type: string
        clientReference:
          type: string
        providerCode:
          type: string
        walletId:
          type: string
        amount:
          type: string
          format: int64
        currency:
          type: string
        userId:
          type: string
          format: int64
        ownerType:
          type: string
        ownerId:
          type: string
        destinationId:
          type: string
          format: int64
        allowReturnToSource:
          type: boolean
        walletPin:
          type: string
        twoFaCode:
          type: string
        holdExpirySeconds:
          type: integer
        approvalTimeoutSeconds:
          type: integer
        verificationTimeoutSeconds:
          type: integer
        idempotencyKey:
          type: string
        metadata:
          type: object
          additionalProperties: true
        region:
          type: string
    P2PTransferRequest:
      type: object
      required: [tenantId, currency, fromWalletId, toWalletId, amount, fromOwnerType, fromOwnerId, toOwnerType, toOwnerId]
      properties:
        tenantId:
          type: string
        idempotencyKey:
          type: string
        currency:
          type: string
        fromWalletId:
          type: string
        toWalletId:
          type: string
        amount:
          type: string
          format: int64
        description:
          type: string
        referenceId:
          type: string
        fromOwnerType:
          type: string
        fromOwnerId:
          type: string
        toOwnerType:
          type: string
        toOwnerId:
          type: string
        userId:
          type: string
          format: int64
        walletPin:
          type: string
        twoFaCode:
          type: string
    FundingSourceList:
      type: object
      properties:
        sources:
          type: array
          items:
            $ref: '#/components/schemas/FundingSource'
    FundingSource:
      type: object
      additionalProperties: true
    WithdrawalDestinationList:
      type: object
      properties:
        destinations:
          type: array
          items:
            $ref: '#/components/schemas/WithdrawalDestination'
    WithdrawalDestination:
      type: object
      additionalProperties: true
    CreateWithdrawalDestinationRequest:
      type: object
      required: [tenantId, destinationType, destinationDetails, currency]
      properties:
        tenantId:
          type: string
        destinationType:
          type: string
        pspProvider:
          type: string
        destinationDetails:
          type: object
          additionalProperties: true
        displayName:
          type: string
        currency:
          type: string
        country:
          type: string
        ownershipVerificationMethod:
          type: string
        linkedFundingSourceId:
          type: string
          format: int64
        isReturnToSource:
          type: boolean
