noebs:
  default_tenant_id: REPLACE_WITH_TENANT_ID
  service_databases:
    api-gateway: REPLACE_WITH_GATEWAY_AUTH_DATABASE_URL
  database_ca_certificate: REPLACE_WITH_DATABASE_CA_CERTIFICATE
  keycloak_ca_certificate: REPLACE_WITH_KEYCLOAK_CA_CERTIFICATE
  backoffice_client_secret: REPLACE_WITH_BACKOFFICE_CLIENT_SECRET
  backoffice_encryption_key_id: REPLACE_WITH_BACKOFFICE_ENCRYPTION_KEY_ID
  backoffice_encryption_keys:
    REPLACE_WITH_BACKOFFICE_ENCRYPTION_KEY_ID: REPLACE_WITH_BACKOFFICE_ENCRYPTION_KEY
  psp_webhook_routes:
    REPLACE_WITH_PSP_WEBHOOK_CALLBACK_ID_BASE64URL:
      tenant_id: REPLACE_WITH_TENANT_ID
      provider_code: REPLACE_WITH_PROVIDER_CODE
