noebs:
  default_tenant_id: REPLACE_WITH_TENANT_ID
  jwt_secret: REPLACE_WITH_JWT_SIGNING_SECRET
  admin_key: REPLACE_WITH_GATEWAY_ADMIN_KEY
  admin_user: REPLACE_WITH_GATEWAY_ADMIN_USER
  admin_password: REPLACE_WITH_GATEWAY_ADMIN_PASSWORD
