noebs:
  default_tenant_id: REPLACE_WITH_TENANT_ID
  service_databases:
    card-vault: postgres://card_vault_migrate:REPLACE_WITH_CARD_VAULT_MIGRATE_PASSWORD_BASE64URL@db:5432/card_vault?sslmode=verify-full
  database_ca_certificate: REPLACE_WITH_DATABASE_CA_CERTIFICATE
  data_key: REPLACE_WITH_CARD_VAULT_DATA_KEY
