noebs:
  default_tenant_id: REPLACE_WITH_TENANT_ID
  service_databases:
    ebs-adapter: REPLACE_WITH_EBS_ADAPTER_DATABASE_URL
  consumer_endpoint: REPLACE_WITH_EBS_CONSUMER_ENDPOINT
  merchant_endpoint: REPLACE_WITH_EBS_MERCHANT_ENDPOINT
  ipin_endpoint: REPLACE_WITH_EBS_IPIN_ENDPOINT
  consumer_app_id: REPLACE_WITH_EBS_CONSUMER_APP_ID
  merchant_app_id: REPLACE_WITH_EBS_MERCHANT_APP_ID
  ipin_username: REPLACE_WITH_EBS_IPIN_USERNAME
  ipin_password: REPLACE_WITH_EBS_IPIN_PASSWORD
  pub_key: REPLACE_WITH_EBS_CONSUMER_PUBLIC_KEY
  ipin_key: REPLACE_WITH_EBS_IPIN_PUBLIC_KEY
  pan: REPLACE_WITH_BILL_INQUIRY_PAN
  pin: REPLACE_WITH_BILL_INQUIRY_PIN
  ipin: REPLACE_WITH_BILL_INQUIRY_IPIN
  exp_date: REPLACE_WITH_BILL_INQUIRY_EXPIRY
