noebs:
  default_tenant_id: REPLACE_WITH_TENANT_ID
  service_databases:
    ebs-adapter: REPLACE_WITH_EBS_ADAPTER_DATABASE_URL
  consumer_qa: REPLACE_WITH_CONSUMER_QA_URL
  consumer_prod: REPLACE_WITH_CONSUMER_PROD_URL
  merchant_qa: REPLACE_WITH_MERCHANT_QA_URL
  merchant_prod: REPLACE_WITH_MERCHANT_PROD_URL
  ipin_qa: REPLACE_WITH_IPIN_QA_URL
  ipin_prod: REPLACE_WITH_IPIN_PROD_URL
  consumer_qa_id: REPLACE_WITH_CONSUMER_QA_ID
  consumer_prod_id: REPLACE_WITH_CONSUMER_PROD_ID
  merchant_qa_id: REPLACE_WITH_MERCHANT_QA_ID
  merchant_prod_id: REPLACE_WITH_MERCHANT_PROD_ID
  ipin_username: REPLACE_WITH_EBS_IPIN_USERNAME
  ipin_password: REPLACE_WITH_EBS_IPIN_PASSWORD
  pub_key: REPLACE_WITH_EBS_CONSUMER_PUBLIC_KEY
  ipin_key: REPLACE_WITH_EBS_IPIN_PUBLIC_KEY
  pan: REPLACE_WITH_BILL_INQUIRY_PAN
  pin: REPLACE_WITH_BILL_INQUIRY_PIN
  ipin: REPLACE_WITH_BILL_INQUIRY_IPIN
  exp_date: REPLACE_WITH_BILL_INQUIRY_EXPIRY
