noebs:
  default_tenant_id: REPLACE_WITH_TENANT_ID
  service_databases:
    api-gateway: postgres://gateway_auth_migrate:REPLACE_WITH_GATEWAY_AUTH_MIGRATE_PASSWORD@db:5432/gateway_auth?sslmode=verify-full
  database_ca_certificate: REPLACE_WITH_DATABASE_CA_CERTIFICATE
