noebs:
  default_tenant_id: REPLACE_WITH_TENANT_ID
  service_databases:
    identity-auth: postgres://identity_auth_migrate:REPLACE_WITH_IDENTITY_AUTH_MIGRATE_PASSWORD_BASE64URL@db:5432/identity_auth?sslmode=verify-full
  database_ca_certificate: REPLACE_WITH_DATABASE_CA_CERTIFICATE
