noebs:
  default_tenant_id: REPLACE_WITH_TENANT_ID
  service_databases:
    notification-chat: postgres://notification_chat_migrate:REPLACE_WITH_NOTIFICATION_CHAT_MIGRATE_PASSWORD_BASE64URL@db:5432/notification_chat?sslmode=verify-full
  database_ca_certificate: REPLACE_WITH_DATABASE_CA_CERTIFICATE
