noebs:
  default_tenant_id: REPLACE_WITH_TENANT_ID
  service_databases:
    psp-webhook: REPLACE_WITH_PSP_WEBHOOK_DATABASE_URL
  psp:
    REPLACE_WITH_TENANT_ID:
      REPLACE_WITH_PROVIDER_CODE:
        api_key: REPLACE_WITH_PSP_API_KEY
        api_secret: REPLACE_WITH_PSP_API_SECRET
        webhook_secret: REPLACE_WITH_PSP_WEBHOOK_SECRET
        webhook_public_key: REPLACE_WITH_PSP_WEBHOOK_PUBLIC_KEY
